<!-- <div class="counter">

</div> -->
<div class="countdown">
  <div class="countdown__container">
    <div class="countdown__container__content">
      <div class="main-label">Cuenta Regresiva…</div>
      <div class="countdown-numbers">
        <div class="counter-grid">
          <div class="number">{{ time.days }}</div>
          <div class="label">Días</div>
        </div>
        <div class="counter-grid">
          <div class="number">{{ time.hours }}</div>
          <div class="label">Horas</div>
        </div>
        <div class="counter-grid">
          <div class="number">{{ time.minutes }}</div>
          <div class="label">Min</div>
        </div>
        <div class="counter-grid">
          <div class="number">{{ time.seconds }}</div>
          <div class="label">S</div>
        </div>
      </div>
    </div>
  </div>
</div>
