<section class="ubicaciones" id="ubicaciones">
  <h3 class="ubicaciones__title">Ubicaciones</h3>
  <div class="ubicaciones__subtitle mt-5">Ceremonia</div>
  <div class="ubicaciones__texto">
    Iglesia San Nicolás, zona 3 Quetzaltenango
  </div>
  <div class="ubicaciones__hora">11:00 horas</div>
  <a
    href="https://ul.waze.com/ul?ll=14.84370367%2C-91.51834488&navigate=yes&zoom=17&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location"
    ><button class="ubicaciones__button" mat-button>Abrir en Waze</button></a
  >
  <div class="ubicaciones__subtitle mt-5">Recepción</div>
  <div class="ubicaciones__texto">
    La Quebrada, La Esperanza, Quetzaltenango
  </div>
  <div class="ubicaciones__hora">Cóctel inicia 17:15 horas</div>
  <div class="ubicaciones__hora">Recepción inicia 18:00 horas.</div>
  <a
    href="https://ul.waze.com/ul?ll=14.87145414%2C-91.58155918&navigate=yes&zoom=17&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location"
    ><button class="ubicaciones__button" mat-button>Abrir en Waze</button></a
  >
  <img class="section-divider" src="/assets/img/divider2.svg" />
</section>
