<section class="regalos" id="regalos">
  <h3 class="regalos__title">Lista de regalos</h3>
  <div class="regalos__texto">
    Para tu comodidad, hemos elegido nuestros regalos en Cemaco.
  </div>
  <a href="https://www.cemaco.com/list/2022040005A"
    ><button class="regalos__button" mat-button>
      Visita nuestra lista virtual
    </button></a
  >
  <div class="regalos__texto mt-3">
    Recuerda, puedes comprar en línea o visitar una tienda física, en cualquier
    caso, <strong>indica que envíen el regalo a domicilio.</strong>
  </div>
  <img class="section-divider" src="/assets/img/divider2.svg" />
</section>
