<div class="ver-container">
  <div class="button-group">
    <button (click)="getConfirmados()">Confirmados</button>
    <button (click)="getRechazados()">Rechazados</button>
    <button (click)="getPendientes()">Pendientes</button>
    <button (click)="getInvitados()">Todos</button>
  </div>
  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Confirmados</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invitado of invitados">
        <th scope="row">{{ invitado.id }}</th>
        <td>{{ invitado.nombre }}</td>
        <td>{{ invitado.cantidad }}</td>
        <td>{{ invitado.confirmados }}</td>
      </tr>
    </tbody>
  </table>
</div>
