@import "./../scss/mixins.scss";

.ver-container {
  padding: 1rem;

  .button-group {
    @include flex($direction: row);

    button {
      padding: 0.5rem 0.3rem;
      background-color: #f7f0e5;
      color: black;
      font-size: 0.8rem;
      margin-right: 4px;
      border: 1px solid gray;
      border-radius: 2px;
    }
  }
}
