<section class="lugares" id="lugares">
  <h3 class="lugares__title">Lugares turísticos</h3>
  <div class="lugares__texto">
    Queremos que aproveches tu estadía en Xela, por lo que te dejamos algunas
    sugerencias de lugares que puedes visitar
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="lugar-card">
          <img class="lugar-img" src="/assets/img/pqcentral.jpg" />
          <div class="lugar-title">Parque Central, Quetzaltenango</div>
          <div class="lugar-description">
            El Parque Central también conocido como Parque a Centro América es
            una joya cultural de Quetzaltenango con muchos lugares históricos a
            su alrededor.’
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="lugar-card">
          <img class="lugar-img" src="/assets/img/pse.jpg" />
          <div class="lugar-title">Pasaje Enríquez, Quetzaltenango</div>
          <div class="lugar-description">
            Cuenta con restaurantes y bares muy buenos para pasar un momento
            alegre con amigos y familia. Este lugar es famoso por las ferias
            septembrinas, no puedes dejar de visitarlo.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="lugar-card">
          <img class="lugar-img" src="/assets/img/tva.jpg" />
          <div class="lugar-title">Tranvía de los altos, Quetzaltenango</div>
          <div class="lugar-description">
            Recorre las calles de Quetzaltenango conociendo las bellezas de este
            departamento. Es un proyecto que busca mostrarle a los visitantes de
            una forma original, la belleza que Xela tiene para ofrecer. Búscalo
            en el parque central.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="lugar-card">
          <img class="lugar-img" src="/assets/img/cebq.jpg" />
          <div class="lugar-title">Cerro El Baúl, Quetzaltenango</div>
          <div class="lugar-description">
            Un pulmón urbano de la ciudad, y, por tradición, un centro de
            recreación familiar. Puedes subir este cerro a pie, en carro o
            bicicleta. Además, podrás observar el casco urbano rodeado de
            naturaleza.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="lugar-card">
          <img class="lugar-img" src="/assets/img/tm.jpg" />
          <div class="lugar-title">Teatro Municipal, Quetzaltenango</div>
          <div class="lugar-description">
            Este teatro es conocido por su belleza y elegancia, desde la fachada
            puedes observar toda una obra de arte. Sus detalles, estatuas y
            toques de arquitectura clásica lo hacen un lugar muy especial.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="lugar-card">
          <img class="lugar-img" src="/assets/img/trq.jpg" />
          <div class="lugar-title">Tertulianos, Quetzaltenango</div>
          <div class="lugar-description">
            Este restaurante es una mezcla entre lo clásico y lo sofisticado.
            Vale la pena conocer sus gradas, marcos, muebles y exhibiciones
            antiguas, además ofrece tours interesantes dentro del mismo.
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="section-divider" src="/assets/img/divider2.svg" />
</section>
