<section class="historia" id="historia">
  <img class="section-divider" src="/assets/img/divider2.svg" />

  <h3 class="historia__title mt-3">Nuestra historia</h3>
  <p class="historia__texto">
    No es sencillo plasmar en un par de párrafos lo hermosos y enriquecedores
    que han sido estos 3 años de noviazgo. Nos conocimos entre actividades
    laborales y, para ser honestos, no resultó un “amor a primera vista” como el
    que vemos en las películas. Lo nuestro, se fue dando con el transcurrir de
    los días, topándonos en los pasillos de la oficina y notando la presencia
    del otro. Todo comenzó con un “hola” que, acompañado de una sonrisa
    nerviosa, abrió paso a todo lo que vino después. <br /><br />En nuestra
    primera cita fuimos por un café. Empezamos a conocernos y poco a poco
    notamos que teníamos mucho en común. Nos interesamos tanto uno por el otro,
    al punto de no sentir el transcurrir de las horas y poco a poco el brillo en
    los ojos, comenzó a surgir. <br /><br />
    Nos hicimos novios un 02 de febrero de 2019. La idea era llegar a Antigua
    Guatemala a ver desde un restaurante el hermoso paisaje y la caída del sol,
    pero, llegamos tarde. No se preocupen, la noche en ese lugar fue
    espectacular pues allí inició un amor que trascendería a través del tiempo y
    fue la decisión que marcó nuestras vidas. <br /><br />
    Juntos hemos aprendido que el verdadero amor, es una decisión y no un simple
    sentimiento que va disminuyendo con el pasar de los días; y, que Dios debe
    ser el centro de nuestras vidas, pues sin él nada somos. Con el paso del
    tiempo, descubres cosas de la otra persona que a lo mejor no esperabas, pero
    es allí donde se encuentra el verdadero amor, cuando aceptas que cada uno ha
    vivido su propia historia y que sólo complementamos la vida del otro y lo
    más importante, hemos aprendido a amar al otro con sus virtudes y amarlo aún
    más con sus defectos. <br /><br />
    Kerin es el hombre que Dios preparó para mí y me encanta seguir descubriendo
    sus cualidades día a día. He aprendido tanto de él, es un ejemplo para mí y
    me inspira a ser mejor mujer. Me cuida y protege mucho y me consiente
    también, me alienta a seguir adelante y cree en mí, aunque a veces yo no
    crea en mi misma. Es mi apoyo en todo momento, un hombre inteligente, con
    valores, metas y sueños increíbles. Y, lo que más me encanta, es que, en
    todos los planes, nos veo juntos, tomados de la mano luchando por cumplir
    cada uno de ellos. <br /><br />
    Marcela es lo que siempre busqué, una mujer con sueños, con metas en la
    vida, con ganas de vivir y ser feliz. Encontré a una mujer con principios,
    de familia y a una mujer fuerte que está al lado mío construyendo cada parte
    de nuestras vidas. Sé que me llevo un tesoro, y como tal, prometo amarla,
    guardarla y protegerla, respetarla y valorarla, así, hasta que Dios me lo
    permita en este hermoso sacramento del matrimonio. <br /><br />
    Estamos a tan solo unos días de nuestro gran día y nos encantaría contar con
    tu presencia cuando frente a Dios digamos el SI más importante de nuestras
    vidas.
  </p>
  <img class="section-divider" src="/assets/img/divider2.svg" />
</section>
